#groceriesTitle{
  width:400px;
  text-align: center;
}
.storeItems{
  display: flex;
  width:400px;
  justify-content: space-between;
}
.storeItems:hover{
  cursor: pointer;
  opacity: 0.7;
  background-color: bisque;
  transition: 0.15s;
}
