.app{
  display: flex;
  justify-content: space-evenly;
}

.title{
  width:400px;
  text-align: center;
}
.storeItems{
  display: flex;
  width:400px;
  justify-content: space-between;
}
.storeItems:hover{
  cursor: pointer;
  background-color: bisque;
  transition: 0.15s;
}
.cartItems{
  display: flex;
  width:400px;
  justify-content: space-between;
}
